* { margin: 0; padding: 0; }

header
{
	background: #6d83a1;
	height: 44px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	border: 1px solid #2d3033;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
	text-align: center;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px solid #554761;
	color: #fff;
	font-weight: bold;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afbacd), color-stop(0.505, #7992ae), to(#6482a6));
	background-image: -webkit-linear-gradient(top, #afbacd, #869db7 50%, #7992ae 52%, #6482a6);
	background-image: -moz-linear-gradient(top, #afbacd, #869db7 50%, #7992ae 52%, #6482a6);
	background-image: -o-linear-gradient(top, #afbacd, #869db7 50%, #7992ae 52%, #6482a6);
	background-image: -ms-linear-gradient(top, #afbacd, #869db7 50%, #7992ae 52%, #6482a6);
	background-image: linear-gradient(top, #afbacd, #869db7 50%, #7992ae 52%, #6482a6);
}

header h1 { 
	font-size: 2.0em; 
	line-height: 44px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	text-align: center;
	text-shadow: 0px -1px 1px #363b42;
}

section#content
{
	margin-top: 0px;
}

nav
{
	display: block;
	padding: 0px 0px;
	background: #fff;
	width: 100%;
}

nav ul#nlists
{
	list-style: none;
	font-family: "Calibri", Arial, sans-serif;
}

nav ul#nlists li
{
	border-bottom: 1px solid #d9e2eb;
	background: #fff;	
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff) to(#ecf1f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #ecf1f5);
	background-image:    -moz-linear-gradient(top, #ffffff, #ecf1f5);
	background-image:      -o-linear-gradient(top, #ffffff, #ecf1f5);
	background-image:         linear-gradient(top, #ffffff, #ecf1f5);

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
}

nav ul#nlists li.item
{
	position: relative;
	display: block;
	width: 100%
}

nav ul#nlists li a
{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 80%;
	padding: 15px 0px;
	padding-left: 10px;
	text-decoration: none;
	font-size: 1.4em;
	color: #787878;
	font-weight: bold;
	/*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;	
}

nav ul#nlists li a:hover
{
	color: #999;
}

nav ul#nlists li.item::after
{
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	border-right: 3px solid #adb46b;
	border-top: 3px solid #adb46b;
	position: absolute;
	right: 40px;
	top: 50%;
	margin-top: -5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

nav ul#nlists li a:hover::after
{
	border-color: #c3ca80;
}

nav ul#nlists li.head
{
	border-bottom: 1px solid #b4c699;
	border-top: 1px solid #b4c699;
	height: 26px;
	color: #5e7b59;
	text-shadow: 0 1px 1px #fff;
	font-family: Arial, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 25px;
	padding-left: 15px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbddb1) to(#dfeacb));
	background-image: -webkit-linear-gradient(top, #cbddb1, #dfeacb);
	background-image:    -moz-linear-gradient(top, #cbddb1, #dfeacb);
	background-image:      -o-linear-gradient(top, #cbddb1, #dfeacb);
	background-image:         linear-gradient(top, #cbddb1, #dfeacb); 
}